@import "tailwindcss";
@import "tw-animate-css";

@font-face {
	font-family: "Geist";
	src: url("../assets/fonts/Geist/Geist-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-geist: "Geist", "sans-serif";
	--font-sans: var(--font-geist);
	--color-page: #ffffff;
	--color-section: #fafafa;
	--color-card: #fafafa;
	--color-card-hover: #f2f2f2;
	--color-overlay: #00000080;
	--color-heading: #333333;
	--color-body: #111111;
	--color-muted: #a0a0a0;
	--color-accent: #e664b3;
	--color-border-default: color-mix(in srgb, #e0e0e0, #111111 20%);
	--color-border-subtle: #e0e0e0;
	--color-border-strong: #e601b3;
	--color-focus: #e601b3;
	--color-active: #e601b3;
	--color-disabled: #e0e0e0;
	--color-status-success: #4caf50;
	--color-status-error: #f44336;
	--color-status-warning: #ffc107;
}

@layer base {
	html {
		scroll-behavior: smooth;
		background-color: var(--bg-page);
	}
}

:root {
	/* RAW COLORS */
	--palette-primary: #ffffff; /* main page background */
	--palette-secondary: #fafafa; /* cards / inner sections */
	--palette-tertiary: #e0e0e0; /* borders, disabled */
	--palette-text-primary: #111111; /* body text */
	--palette-text-secondary: #333333; /* headings AAAAAAA */
	--palette-text-tertiary: #a0a0a0; /* muted text */
	--palette-accent: #e664b3; /* pink accent */
	--palette-accent-active: #e601b3; /* darker pink active state */
	--palette-hover: #f2f2f2; /* hover background */
	--palette-overlay: #00000080; /* semi-transparent overlay */
	--palette-status-success: #4caf50; /* green */
	--palette-status-error: #f44336; /* red */
	--palette-status-warning: #ffc107; /* yellow */

	/* SEMANTIC TOKENS */
	--bg-page: var(--palette-primary);
	--bg-section: var(--palette-secondary);
	--bg-card: var(--palette-secondary);
	--bg-card-hover: var(--palette-hover);
	--bg-overlay: var(--palette-overlay);

	--text-heading: var(--palette-text-secondary);
	--text-body: var(--palette-text-primary);
	--text-muted: var(--palette-text-tertiary);
	--text-accent: var(--palette-accent);

	/* Borders */
	--border-subtle: var(--palette-tertiary);
	--border-default: color-mix(
		in srgb,
		var(--palette-tertiary),
		var(--palette-text-primary) 20%
	);
	--border-strong: var(--palette-accent);

	/* States */
	--color-focus: var(--palette-link);
	--color-active: var(--palette-accent-active);
	--color-disabled: var(--palette-tertiary);

	/* Status */
	--color-status-success: var(--palette-status-success);
	--color-status-error: var(--palette-status-error);
	--color-status-warning: var(--palette-status-warning);
}

:root[data-theme="dark"] {
	/* RAW COLORS */
	--palette-primary: #252525; /* main page background */
	--palette-secondary: #161616; /* cards / inner sections */
	--palette-tertiary: #585858; /* borders, disabled */
	--palette-text-primary: #ffffff; /* body text */
	--palette-text-secondary: #e0e0e0; /* headings AAAAAA */
	--palette-text-tertiary: #a0a0a0; /* muted text */
	--palette-accent: #d36bf5; /* light purple accent */
	--palette-accent-active: #d335f5; /* darker purple */
	--palette-hover: #2a2a2a; /* hover background */
	--palette-overlay: #000000bf; /* darker overlay */
	--palette-status-success: #66bb6a; /* green */
	--palette-status-error: #ef5350; /* red */
	--palette-status-warning: #ffd54f; /* yellow */

	/* SEMANTIC TOKENS */
	--bg-page: var(--palette-primary);
	--bg-section: var(--palette-secondary);
	--bg-card: var(--palette-secondary);
	--bg-card-hover: var(--palette-hover);
	--bg-overlay: var(--palette-overlay);

	--text-heading: var(--palette-text-secondary);
	--text-body: var(--palette-text-primary);
	--text-muted: var(--palette-text-tertiary);
	--text-accent: var(--palette-accent);

	/* Borders */
	--border-subtle: var(--palette-tertiary);
	--border-default: color-mix(
		in srgb,
		var(--palette-tertiary),
		var(--palette-text-primary) 25%
	);
	--border-strong: var(--palette-accent);

	/* States */
	--color-focus: var(--palette-link);
	--color-active: var(--palette-accent-active);
	--color-disabled: var(--palette-tertiary);

	/* Status */
	--color-status-success: var(--palette-status-success);
	--color-status-error: var(--palette-status-error);
	--color-status-warning: var(--palette-status-warning);
}
